<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

<section class="ecotote-feature">
  <div class="container container-feature">
  <!--Logo-->
  <div class="Logo">
    <a class="Logo footer-logo" href=".index.html"><span class="logo-part">EcoTote</span> </a>
  </div>
  <!--Navigation-->
  <div class="nav-feature">
    <ul class="nav-List">
<li class="nav-item"><a href="#about">Про нас</a>
  </li>
<li class="nav-item"><a href="#benefits">Переваги</a>
 </li>
<li class="nav-item"><a href="#products">Асортимент</a>
  </li>
<li class="nav-item"><a href="#gallery">Галерея</a>
  </li>
<li class="nav-item"><a href="#reviews">Відгуки</a>
  </li>
<li class="nav-item"><a href="#contacts">Контакти</a>
  </li>
</ul>
  </div>
  <!--Social icons-->
  <div class="social-feature">
    <ul class="feature-socials">
          <li class="socials-item">
            <a
              class="socials-link"
              href="https://instagram.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Instagram"
            >
              <svg class="socials-icon" width="16" height="16">
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
    <li class="socials-item">
            <a
              class="socials-link"
              href="https://linkedin.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Linkedin"
            >
              <svg class="socials-icon" width="16" height="16">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
    <li class="socials-item">
            <a
              class="socials-link"
              href="https://linkedin.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Linkedin"
            >
              <svg class="socials-icon" width="16" height="16">
                <use href="./images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
  </div>
  <!--Contacts-->
  <div class="contacts">
    <address class="contacts nav">
        <ul class="contacts-list">
        <li class="contacts-item"><a  class="contacts-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
        <li class="contacts-item">
            <a  class="contacts-link" href="tel:+380999091122">+38 (099) 909-11-22</a>
        </li>
        </ul>
    </address>
  </div>
  <!--Footer note-->
  <div class="copyright">
    2025 EcoTote. Всі права захищені.
  </div>
  </div>
</section>
