
/* #region about */
.section-about {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;

    background-image: url("../img/about/bg-feature-mobile.jpg");
    background-color: rgba (0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    max-width: 320px;
}

.container-about {
    max-width: 288px;
    margin: 0 auto;
}

/* Верхній маленький заголовок */
.about-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

    padding-bottom: 12px;
}

/* Основний великий заголовок */
.about-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;

    padding-bottom: 20px;
}

/* Опис */
.about-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}
/* #endregion about */