.section-advantages {
  padding: 32px 0px;
}

.container-advantages {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.advantages-small-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.advantages-heading {
  font-family: 'Comfortaa', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  max-width: 288px;
}
.description-paragraph {
  line-height: 1.6;
  margin-bottom: 48px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.container-img-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.images-advantages {
  border-radius: 32px;
  margin-bottom: 8px;
}

.heading-list {
  font-family: 'Comfortaa', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.paragraph-list {
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .section-advantages {
    padding: 64px 0px;
  }

  .container-advantages {
    max-width: 768px;
    padding: 0 32px;
  }
  .advantages-small-title {
    margin-bottom: 16px;
  }
  .advantages-heading {
    max-width: 704px;
    margin-bottom: 24px;
  }

  .description-paragraph {
    font-size: 18px;
    max-width: 704px;
    margin-bottom: 32px;
  }

  .advantages-list {
    gap: 24px;
  }

  .container-img-two {
    flex-direction: row;
    gap: 24px;
  }

  .images-advantages {
    margin-bottom: 32px;
    width: 340px;
    height: 201px;
  }

  .images-advantages.image-three {
    width: 704px;
    height: 416px;
  }

  .heading-list {
    margin-bottom: 8px;
  }

  .heading-list.heading-three {
    margin-bottom: 43px;
  }

  .paragraph-list {
    max-width: 340px;
  }

  .paragraph-list.paragraph-three {
    max-width: 704px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container-advantages {
    max-width: 1440px;
    padding: 0 64px;
  }

  .advantages-heading {
    max-width: 768px;
    font-size: 48px;
  }

  .description-paragraph {
    margin-bottom: 80px;
    max-width: 768px;
  }

  .advantages-list {
    flex-direction: row;
  }

  .images-advantages {
    width: 421px;
    height: 249px;
    margin-bottom: 32px;
  }

  .images-advantages.image-three {
    width: 421px;
    height: 249px;
  }

  .heading-list {
    width: 421px;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .heading-list.heading-three {
    margin-bottom: 24px;
  }

  .paragraph-list {
    width: 421px;
  }
}
