/* Styles for Mobile devices */
.container {
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;
  }
}
