/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./feature.css');
@import url('./advantages.css');
@import url('./product.css');
@import url('./gallery.css');
@import url('./testimonials.css');
@import url('./contacts.css');
@import url('./footer.css');
